/* Global Section */
* {
	font-family: "Verdana", sans-serif;
}

/* Headings */
.title {
	color: #666;
	font-size:48px;
	margin-top: 45px;
}

.section-header {
	color: #f07c17;
	font-weight: bold;
	font-size: 24px;
}

.box-header {
  margin-top: 10px;
  padding-left: 5px;
}

/* Content */
.content {
	margin-top: 25px;
	padding-top: 5px;
}

p,
li {
	font-size: 16px;
	line-height: 2;
}

ul {
	padding: 19px 44px;
}

li {
	padding-left: 2px;
}

.mug-shot {
	margin-top: 22px;
}

.box {
	margin: 25px 0px;
	border: 1px solid;
	border-color: #ccc;
	padding: 25px;
}